<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Beers</title>

  <!-- Import favicon -->
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">

  <!-- Import libraries CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <!-- Import styles CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/custom.min.css">
</head>

 <body>
   <div id="wrapper">
     <header>
       <div class="row">
         <div id="brand-logo" class="column">
           <h1><a href="/">B</a></h1>
         </div>

         <div id="close_modale" class="column" :class="{'visible': showModal}">
           <div class="close" @click="closeModal()"></div>
         </div>

         <div id="beer" class="column">🍺</div>
      </div>
     </header>

     <main id="content">
      <div v-if="!showModal" class="container">
        <masonry id="masonry" v-scroll-reveal="{ delay: 250 }" :cols="{default: 2, 850: 1}" :gutter="10" :class="{'visible': beersReady, 'novisible': showModal}">
          <a class="item" v-scroll-reveal="{ delay: 250 }" v-for="item in beers" href="javascript:void(0);" @click="openModal(item.id)">
            <div class="row">
              <div class="column">
                <h2>{{ item.name }}</h2>
                <h3>{{ item.tagline }}</h3>
                <button class="button button-outline">See more</button>
              </div>

              <div class="column">
                <img :src="item.image_url" :alt="item.first_brewed">
              </div>
            </div>
          </a>
        </masonry>
      </div>

      <div id="modal" :class="{'visible': showModal}" v-for="beer in item_beer">
        <div class="row">
          <div id="img" class="column">
            <img :src="beer.image_url" :alt="beer.first_brewed">
            <p class="title">{{ beer.name }}</p>
          </div>

          <div id="fiche" class="column">
            <p class="name"><strong>{{ beer.name }}</strong><br>{{ beer.tagline }}</p>
            <p class="description">{{ beer.description }}</p>

            <table>
              <thead>
                <tr>
                  <th colspan="2">Spécifications</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="first_line">First Brewed</td>
                  <td>{{ beer.first_brewed }}</td>
                </tr>
                <tr>
                  <td class="first_line">ABV</td>
                  <td>{{ beer.abv }}</td>
                </tr>
                <tr>
                  <td class="first_line">IBU</td>
                  <td>{{ beer.ibu }}</td>
                </tr>
                <tr>
                  <td class="first_line">EBC / SRM</td>
                  <td>{{ beer.ebc }} / {{ beer.srm }}</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th colspan="2">Ingrédients</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="first_line">Malt</td>
                  <td>
                    <span v-for="malt in beer.ingredients['malt']">{{ malt['name'] }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="first_line">Yeast</td>
                  <td>{{ beer.ingredients['yeast'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     </main>

     <footer>
       <div class="row">
         <div id="cheers" class="column">
           <p>Cheers</p>
         </div>

         <div id="punk" class="column">
           <p>Punk API V2</p>
         </div>
       </div>
     </footer>
   </div>

  <!-- Import vue js app -->
	<script src="assets/js/vue.app.min.js"></script>
 </body>
</html>
