/*  Fonts
================================================ */

/* Variables */
$Druk_Cond: "DrukCond-Super";
$Druk_Wide : "Druk-WideSuper";
$HelveticaNeueRegular: "HelveticaNeueRegular";
$HelveticaNeueBold: "HelveticaNeue-Bold";

/* Druk Cond Super */
@font-face {
  font-family: 'DrukCond-Super';
  src: url('DrukCond-Super.eot?#iefix') format('embedded-opentype'),
	   url('DrukCond-Super.otf') format('opentype'),
	   url('DrukCond-Super.woff') format('woff'),
	   url('DrukCond-Super.ttf') format('truetype'),
	   url('DrukCond-Super.svg#DrukCond-Super') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Druk Wide Super */
@font-face {
  font-family: 'Druk-WideSuper';
  src: url('Druk-WideSuper.eot?#iefix') format('embedded-opentype'),
	   url('Druk-WideSuper.otf') format('opentype'),
	   url('Druk-WideSuper.woff') format('woff'),
	   url('Druk-WideSuper.ttf') format('truetype'),
	   url('Druk-WideSuper.svg#Druk-WideSuper') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Regular */
@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
	   url('HelveticaNeueRegular.woff') format('woff'),
	   url('HelveticaNeueRegular.ttf') format('truetype'),
	   url('HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Bold */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	   url('HelveticaNeue-Bold.woff') format('woff'),
	   url('HelveticaNeue-Bold.ttf') format('truetype'),
	   url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
