/* Global
================================================ */

html, body {
  font-family: $HelveticaNeueRegular;
  font-size: 62.5%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: black;
}

a:focus {
  outline:0 !important;
}

*::-moz-selection {
  background: black none repeat scroll 0 0;
  color: white;
}

*::selection {
  background: black none repeat scroll 0 0;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $yellow;
}

::-webkit-scrollbar-track {
  background-color: $grey;
  -webkit-border-radius: 0;
  border-radius: 0;
}
