/*  Responsive
================================================ */

/* Tablet screen */
@media (max-width: 54.125rem) {
  #content {
    #masonry {
      .item {
        .row {
          flex-direction: row;
        }

        h2, h3, button {
          text-align: left;
          float: left;
        }
      }
    }
  }
}

/* Mobile screen */
@media (max-width: 40.0rem) {
  html, body {
    font-size: 50%;
  }

  header {
    .row {
      flex-direction: row;
    }
  }

  #content {
    #masonry {
      position: relative;
      padding: 7rem 0;
      transition: $transition;

      &::before {
        display: none;
      }

      .item {
        .column {
          display: flex;
          flex-direction: column;
          text-align: center;

          &:last-child {
            display: none;
          }
        }

        h2, h3, button {
          text-align: center;
          float: inherit;
          margin: auto;
          display: block;
        }
      }
    }

    #modal {
      padding: 11rem 4rem;

      #img {
        margin: 0 0 5rem;

        .title {
          display: none;
        }

        img {
          width: 50%;
        }
      }

      table {
        th, td {
          width: 100%;
        }
      }
    }
  }

  footer {
    p {
      text-align: center;
    }
  }
}
